@model Employee

<div class="container">
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <td>
                    EmpNo
                </td>
                <td>
                    @Model.EmpNo
                </td>
            </tr>
            <tr>
                <td>
                    EmpName
                </td>
                <td>
                    @Model.EmpName
                </td>
            </tr>
            <tr>
                <td>
                    Designation
                </td>
                <td>
                    @Model.Designation
                </td>
            </tr>
            <tr>
                <td>
                    Salary
                </td>
                <td>
                    @Model.Salary
                </td>
            </tr>
            <tr>
                <td>
                    DeptNo
                </td>
                <td>
                    @Model.DeptNo
                </td>
            </tr>
        </tbody>
    </table>
</div>